.material-icons {
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.wf-active .material-icons {
  opacity: 1;
}
#booking .material-icons {
  font-size: 1.5rem;
}