.calc:after {
	content: " : " attr(data-value);
}
.pac-container:after {
	content:none !important;
}
.dtp .material-icons{
	color : #fff;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #03A9F4;
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background: #2196F3;
}

.dtp table.dtp-picker-days tr > td > a.selected {
    background: #2196F3;
}
.dtp .dtp-btn-ok {
	margin-left: 15px;
}
.dtp > .dtp-content {
	max-height: none;
}
.dtp .dtp-select-hour {
	fill : #2196F3;
}
.dtp line {
	stroke : #2196F3;
}